body {

  background-image: url("/css/77-rge.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
  text-align: center;
}

#storybox{
  width: 50%;
  height: 50px;
  border: 1px solid;
  margin: auto;
  flex: auto;
  background-color: black;
}

.btn {
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
