<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Adventure Quest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="jumbotron text-center" style="margin-bottom:0">
  <h1>ADVENTURE QUEST</h1>
  <p> Welcome lets play a little Adventure</p>
</div>

    <div id="storybox" class="container">

    </div id="list">
    <button id="btn1" type="button" class="btn"></button>
    <button id="btn2" type="button" class="btn"></button>
    <script type="text/javascript" src="js/script.js"></script>
  </body>
</html>
